.contact {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.options {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

.media {
    margin-top: 14px;
}

.icon {
    height: 42px;
    width: 42px;
    margin: 10px;
}