.contact {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lora {
    font-family: 'Lora', serif;
}

.options {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

.media {
    margin-top: 14px;
}

.icon {
    height: 42px;
    width: 42px;
    margin-right: 8px;
}