/* ------------------------------------------ */
/* General styling */
/* ------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-weight: 400;
    line-height: 1.6;
    color: #333333;
    user-select: none;
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.flexing {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left {
    width: 48%;
}

.right {
    width: 40%;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px 20px;
}

a {
    text-decoration: none;
    color: #333333;
}
/* ------------------------------------------ */
/* Text styling */
/* ------------------------------------------ */

.san {
    font-family: 'PT Sans', sans-serif;
}

.serif {
    font-family: 'PT Serif', serif;
}

.lora {
    font-family: 'Lora', serif;
}

.san-bangla {
    font-family: 'Noto Sans Bengali', sans-serif;
}

.serif-bangla {
    font-family: 'Noto Serif Bengali', serif;
}

.large {
    font-size: 2.5rem;
}

.medium {
    font-size: 2rem;
}

.small {
    font-size: 1.2rem;
    font-weight: 400;
}

.bold {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.text-underline {
    display: block;
    /* max-width: fit-content; */
    border-bottom: 2px solid #FDD93D;
    margin-bottom: 10px;
}

/* ------------------------------------------ */
/* Components styling */
/* ------------------------------------------ */

.button {
    margin-top: 15px;
    /* display: inline; */
    width: fit-content;
    padding: 12px 15px;
    background-color: #343A40;
    border-radius: 5px;
}

.button a {
    text-decoration: none;
    color: #fff;
}

.categories {
    padding-top: 5vh;
    padding-bottom: 10vh;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
.category-card {
    width: fit-content;
    padding: 10px 18px;
    border: 3px solid #FDD93D;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-card:hover {
    box-shadow: 0 0 40px #FDD93D;
}

.hover {
    padding: 0 8px;
}

.hover::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #FDD93D;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}
.hover:hover:after {
    width: 100%;
}

.active::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #FDD93D;
    left: 0;
    bottom: -8px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.line {
    border-bottom: 2px solid #FDD93D;
}

.line-gap {
    width: 100%;
    height: 10px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 40px;
}

.back {
    display: inline-block;
    margin-top: 25px;
    padding: 5px 9px;
    transition: 0.4s;
    border: 2px solid #333333;
    border-radius: 15px;
}

.back:hover {
    border: 2px solid #FDD93D;
    border-radius: 15px;
    box-shadow: 0 0 10px #FDD93D;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

/* ------------------------------------------ */
/* Responsive styling */
/* ------------------------------------------ */

@media (max-width: 880px) {
    .categories {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 680px) {
    .categories {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1380px) {
    .wrapper {
        max-width: 80%;
    }
    .container {
        max-width: 1200px;
    }
}